body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 500px;
    height: 250px;
    flex: 0 1 auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: grey;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-small-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container, .footer {
    background: #1F2937;
    color: #F9FAF8;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    gap: 52px;
    height: 400px;
}

.hero-information {
    width: 500px;
    height: 250px;
    flex-wrap: wrap;
}